.navigation {
  display: inline-block;
  background-color: white;
}

.inline-block {
  display: inline-block;
  text-align: top;
  list-style-type: none;
}

.logo {
  background: white;
  width: 300px;
}

.nav {
  width: 99%;
  display: flex;
  background-color: white;
  justify-content: left;
  position: fixed;
}

.ul {
  margin-left: auto;
  display: inline;
}

.content {
  width: 100%;
  margin: 0 auto;
  background-color: white;
  color: white;
}

.heroContainer {
  padding: 15px;
  width: 30%;
  background-color: black;
}

footer {
  background-color: #373738;
  color: white;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: inline-block;
  padding: 25px;
}

li {
  padding: 0%;
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
  padding: 10px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
}

button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 15px;
  border-radius: 25px;
}

img {
  width: 100%;
}

.heroImg {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
}